useDynLib(poetREV, .registration=TRUE)
import(RcppArmadillo)
import(RcppProgress)
import(MASS)
import(stats)
import(doParallel)
import(foreach)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
